@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.cross {
  display: none;
}

li:hover {
  cursor: default;
}

li:hover > .cross {
  display: block;
}
